---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    <!-- {% include header.html %} -->

    <div class="teaserimage">
        <div class="teaserimage-image" {% if site.cover %}style="background-image: url({% if page.image %}{{ page.image }}{% endif %})"{% endif %}>
            Article Image
        </div>
    </div>

    <header class="blog-header">
        {% if site.logo %}
          <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
        {% endif %}
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
    </header>

    <main class="content" role="main">
      <article class="post">
        
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url({{ page.author_image }})">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</h4>
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <br/>

        <section class="post-content">
          <a name="topofpage"></a>
          {{content}}
        </section>
      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href={{ "/" | prepend: site.baseurl }} class="btn">Back to Home</a>
      </div>
    </div>
    {% include javascripts.html %}
  </body>
</html>
