---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">

    <div class="teaserimage">
        <div class="teaserimage-image" {% if page.image %}style="background-image: url({{ page.image | prepend: site.baseurl }})"{% endif %}>
            Article Image
        </div>
        <div class="teaserimage-image mobile" {% if page.image2 %}style="background-image: url({{ page.image2 | prepend: site.baseurl }})"{% endif %}>
            Article Image
        </div>
    </div>

    <main class="content" role="main">
      <article class="post">
        <section class="post-content">
          <a name="topofpage"></a>
          <h2 class="blog-description">{{ page.title }}</h2><br/><br/>
          {{content}}
        </section>
      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.footer_title }}</h1>
        <h2 class="blog-description">{{ site.footer_description }}</h2>
        <a href={{ "/" | prepend: site.baseurl }} class="btn">Back to Home</a>
      </div>
    </div>
    {% include javascripts.html %}
  </body>
</html>
